<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="EventeX" />
    <link type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon" />
    <title>EventeX</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen" />
</head>
<body>
    <!-- Content -->
    <div id="wrap">
        <div class="container">
            {% block page_content %}{% endblock %}
        </div>
        <div id="push"></div>
    </div>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
                <p class="text-muted credit">&copy; 2013. 
                <a rel="license" href="http://eventex.herike.com">EventeX</a>, some rights reserved. 
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" 
                    style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a>
                <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite80x15.gif"
                    alt="A Django site." title="A Django site." /></a></p>
        </div>
    </div>
</body>
</html>
