{% extends "core/base.html" %}

{% block page_content %}

<div class="row">
    <div class="span12">
        <div class="logo-header">
            <img src="{{ STATIC_URL }}img/logo.png" alt="EventeX" />
        </div>
        <div class="content">
            <h1>Bem-vindo ao EventeX!</h1>
            <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
            <p>Você não pode perder esta oportunidade!</p>
            <p><strong>Abertura das inscrições em <span
                    class="badge">30/09/2012.</span></strong></p>
            <p>Para dúvidas e mais informações entre em contato com 
            <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p>
        </div>
    </div>
</div>

{% endblock %} 
